@import "tailwindcss";

.title-section {
  font-family: Anton, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}

/* .navBar-font {
} */

.project-1 {
  @apply bg-no-repeat bg-center bg-cover;
  background-image: url("./image/guessGame.png");
}

.project-2 {
  @apply bg-no-repeat bg-center bg-cover;
  background-image: url("./image/studio.png");
}

.project-3 {
  @apply bg-no-repeat bg-center bg-cover;
  background-image: url("./image/pigGame.png");
}
